.red {
    color: red;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .Cockpit button {
    border: 1px solid blueviolet;
    padding: 16px;
    background-color: greenyellow;
    font: inherit;
    color: white;
  }
  
  .Cockpit button:hover {
    background-color: aqua;
    color: violet;
  }
  
  .Cockpit button.Red {
    background-color: red;
  }
  
  .Cockpit button.Red:hover {
    background-color: salmon;
    color:whitesmoke;
  }